$white:  #ffffff;
$black:  #03091f;
$gray:   #6d6d6d;
$blue:   #5B5F97;
$pink:   #EA526F;
$green:  #7DCE82;
$red:    #eb5a4f;
$orange: #f8a32c;
$tan:    #DCAB6B;
$purple: #a65cd4;
$dark-purple: #26022B;