/**
 * Flex shortcut.
 * By default, centers children both vertically and horizontally.
 */
 @mixin flex ($align: center, $justify: center, $direction: row) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
	flex-direction: $direction;
}

/**
 * Flexbox magic. 
 * The closest thing possible to a one-size-fits-all responsive layout.
 */
 @mixin flex-grid {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;

	> * { flex: 1 1 auto; }
}